.nav-item a {
  font-size: large;
  color: black;
  font-weight: 600;
}

.navbar-toggler {
  border: 1px solid black;
}

.contact a {
  font-size: large;
  color: black;
  font-weight: 600;
}

.contact:last-child {
  font-size: large;
  color: #fff;
  font-weight: 600;
}

.hero {
  margin-top: 70px;
  background-image: url("./hero-bg.jpg");
  background-size: cover;
  color: #fff;
  min-height: 600px;
  width: 100%;
  padding-bottom: 50px;
}

.hero h1 {
  margin-top: 200px;
  font-size: 8vh;
  font-weight: bolder;
}

.text-demo {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}


.dashboard-screenshot{
  margin-bottom: 180px;
  z-index: 1;
}

.slide-images {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-top: 50px;
  gap: 60px;
}


.contact-icons {
  display: flex;
  gap: 20px; 
  color: gray;
}

.icon-wrapper {
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.icon {
  transition: transform 0.2s ease;
}

.icon:hover {
  transform: scale(1.2); /* Optional hover effect */
}




.get-btn {
  background-color: rgb(32, 236, 226);
}

.platform-text {
  font-weight: 400;
  font-size: large;
}